@page
@model iSBiblio.Pages.ContactModel
@{
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>iSBiblio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/styleR.css" />
</head>

<body>
        <div class="R-container" id="R-container">
            <div class="form-contain login-contain">
                <form method="post">
                    <h1>Contactez Nous !</h1>
                    <input type="text" placeholder="Votre Nom" name="text" required>
                    <input type="email" placeholder="Email" name="email" required>
                    <textarea rows="4" placeholder="Écrivez votre message ici..."></textarea>
                    <button class="button" type="submit">Envoyer</button>
                </form>
            </div>
            <div class="R-overlay-contain">
                <div class="R-overlay">
                    <div class="R-overlay-panel R-overlay-right">
                        <p class="tree"><img src="~/img/Well.png" alt="IMG"></p>
                        <p>Tel : +1 (222) 333-4444</p>
                        <p>Couriel: iSBiblio@testc.ca</p>
                        <p>Adresse: 111 Rue Portlando </p>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>
