@page
@model iSBiblio.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}


<div class="contact">
    <div class="R-container" id="R-container">
        <div class="form-contain login-contain">
            <form method="post">
                <h2 class="font-weight-bold">Contactez Nous !</h2>
                 <div class="inputText mt-4">
                    <label class="font-weight-bold">Nom</label>
                     <input type="text"  name="text" required>
                 </div>
                 <div class="inputText">
                    <label class="font-weight-bold">Courriel</label>
                    <input type="email" placeholder="example@example.com" name="email" required>
                 </div>
                 <div class="inputText">
                    <label class="font-weight-bold">Message</label>
                    <textarea rows="4" placeholder="Écrivez votre message ici..."></textarea>
                 </div>
                
                
                
                <button class="button" type="submit">Envoyer</button>
            </form>
        </div>
        <div class="R-overlay-contain">
            <img id="form-img" src="~/img/Well.png" alt="IMG">
            <p>Tel : +1 (222) 333-4444</p>
            <p>Couriel: iSBiblio@testc.ca</p>
            <p>Adresse: 111 Rue Portlando </p>
        </div>
    </div>
</div>

