@page
@model iSBiblio.Pages.EmpruntModel
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>iSBiblio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>

    <header class="title">
        <h2>Mes Livres</h2>
    </header>
    <main class="emprunt">
        <div class=" container mt-5">
            <div class="book-liste">
                @{int nb = 1;}
                @if(Model.userEmprunts == null)
                {
                    <p class="dossier alert alert-danger" role="alert">Votre dossier de lecture est vide !</p>
                }
                else
                {
                    @foreach (var info in Model.userEmprunts)
                    {
                        if (nb > 4)
                        {
                            nb = 1;
                        }
                        var lien = "/img/livre" + nb + ".jpg";
                        nb++;
                        <div class="card book-card">
                            <img src="@lien" class="card-img-top" alt="Couverture de Livre">
                            <div class="card-body">
                                <h5 class="card-title">@info.Titre</h5>
                                <p class="card-text text-black-50">Date d'emprunt : @info.DateEmprunt</p>
                                @if(info.DateRetour != null)
                                {
                                    <p class="card-text text-black-50">Date de retour : @info.DateRetour</p>
                                }
                                
                            </div>
                        </div>
                    }
                }
                
            </div>
        </div>
    </main>

</body>
</html>