@page
@model iSBiblio.Pages.EmpruntModel
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>iSBiblio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>

    <header class="title">
        <h2>Mes Livres</h2>
    </header>
    <main class="emprunt">
        <div class=" container mt-5">
            <div class="book-liste">
                <div class="card book-card">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Livre 1">
                    <div class="card-body">
                        <h5 class="card-title">Titre du Livre 1</h5>
                        <p class="card-text">Date d'emprunt : 01/01/2024</p>
                        <p class="card-text">Date de retour : 05/01/2024</p>
                    </div>
                </div>
                <div class="card book-card">
                    <img src="~/img/livre1.jpg" class="card-img-top" alt="Livre 2">
                    <div class="card-body">
                        <h5 class="card-title">Titre du Livre 2</h5>
                        <p class="card-text">Date d'emprunt : 05/01/2024</p>
                        <p class="card-text">Date de retour : 05/01/2024</p>
                    </div>
                </div>
                <div class="card book-card">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Livre 3">
                    <div class="card-body">
                        <h5 class="card-title">Titre du Livre 3</h5>
                        <p class="card-text">Date d'emprunt : 10/01/2024</p>
                        <p class="card-text">Date de retour : 05/01/2024</p>
                    </div>
                </div>
                <div class="card book-card">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Livre 4">
                    <div class="card-body">
                        <h5 class="card-title">Titre du Livre 4</h5>
                        <p class="card-text">Date d'emprunt : 15/01/2024</p>
                        <p class="card-text">Date de retour : 05/01/2024</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>