@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}


<div class="homePage">
        <div class="centered">
            <a asp-page="index">
                <img src="~/img/Well.png" alt="Logo" />
            </a>
            <p><a class="homePage btn btn-outline-primary" asp-page="categorie">Consulter Notre Catalogue</a></p>
        </div>
</div>
